[Unit]
Description=Auto Login SSO UI

[Service]
Type=simple
ExecStart=/bin/bash -c 'PATH=%h/Scripts:$PATH auto_login_sso.py'

[Install]
WantedBy=default.target
