*
!.gitignore
!nvim
!nvim/**
!hypr
!hypr/**
!foot
!foot/**
!fish
!fish/**
!kitty
!kitty/**
!starship.toml
!metapackages
!metapackages/**
!colorschemes
!colorschemes/**
!BetterDiscord
!BetterDiscord/themes
!BetterDiscord/themes/Scripted.theme.template
!btop
!btop/**
